// Variables
$columnNo: 12;
$gutter: 35px;
$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

body {
  margin: 0;
  a:link,
  a:visited,
  a:active,
  a:hover {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  padding: 0 $gutter/2;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

img {
  width: 100%;
}

.right {
  float: right;
}

// Responsive
@each $name, $breakpoint in $breakpoints {
  @media only screen and (min-width: $breakpoint) {
    $idx: index($breakpoints, ($name $breakpoint));
    // Grid sizing
    @for $i from 1 through 12 {
      .col-#{$name}-#{$i} {
        width: $i/$columnNo * 100%;
      }
    }

    h1 {
      font-size: calc(6px * #{nth((7, 8, 9, 9, 9), $idx)});
      font-weight: 300;
      margin: 6px 0;
    }

    h2 {
      font-size: calc(6px * #{nth((5, 5, 6, 6, 6), $idx)});
      font-weight: 300;
      margin: 6px 0;
    }

    p {
      font-size: calc(6px * #{nth((3, 3, 3.3, 3.3, 3.3), $idx)});
      font-weight: 300;
      margin: 6px 0;
      line-height: 30px;
    }
  }
}
